.item {
    display: flex;
    gap: 10px;

    background-color: #cfcfcf;
    border-radius: 20px;

    border: none;

    transition: .8s;

    img {
        width: 40%;
        border-radius: 10%;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 8px;

        .header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: baseline;
            gap: 25%;

            margin-bottom: 8px;

            svg {
                font-size: 1.5rem;

                &:hover {
                    color: #853340;
                }
            }
        }

        p:last-child{
            margin-top: 20px;
        }

        .amount-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;

            .amount-buttons{
                display: flex;

                button {
                    width: 15px;
                }

                .amount {
                    background-color: #fff;
                    width: 25px;

                    text-align: center;
                    margin: auto;
                }
            }
        }

        .add-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            button{
                background-color: green;
                border: 1px solid black;
                border-radius: 5px;
                padding: 5px;

                color: #fff;

                cursor: pointer;
                transition: .4s;

                margin-right: 20px;

                &:hover{
                    scale: 1.03;
                }
            }
        }
    } 
}